@font-face {
  font-family: 'parseicons';
  src:  url('fonts/parseicons.eot?hqivrl');
  src:  url('fonts/parseicons.eot?hqivrl#iefix') format('embedded-opentype'),
    url('fonts/parseicons.ttf?hqivrl') format('truetype'),
    url('fonts/parseicons.woff?hqivrl') format('woff'),
    url('fonts/parseicons.svg?hqivrl#parseicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'parseicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pct:before {
  content: "\e900";
}
.icon-vpr:before {
  content: "\e901";
}
.icon-acn:before {
  content: "\e902";
}
.icon-arc:before {
  content: "\e903";
}
.icon-ast:before {
  content: "\e904";
}
.icon-blm:before {
  content: "\e905";
}
.icon-blu:before {
  content: "\e906";
}
.icon-brd:before {
  content: "\e907";
}
.icon-cnj:before {
  content: "\e908";
}
.icon-dnc:before {
  content: "\e909";
}
.icon-drg:before {
  content: "\e90a";
}
.icon-drk:before {
  content: "\e90b";
}
.icon-gla:before {
  content: "\e90c";
}
.icon-gnb:before {
  content: "\e90d";
}
.icon-lnc:before {
  content: "\e90e";
}
.icon-mch:before {
  content: "\e90f";
}
.icon-mnk:before {
  content: "\e910";
}
.icon-mrd:before {
  content: "\e911";
}
.icon-nin:before {
  content: "\e912";
}
.icon-pgl:before {
  content: "\e913";
}
.icon-pld:before {
  content: "\e914";
}
.icon-rdm:before {
  content: "\e915";
}
.icon-rog:before {
  content: "\e916";
}
.icon-sam:before {
  content: "\e917";
}
.icon-sch:before {
  content: "\e918";
}
.icon-smn:before {
  content: "\e919";
}
.icon-thm:before {
  content: "\e91a";
}
.icon-war:before {
  content: "\e91b";
}
.icon-whm:before {
  content: "\e91c";
}
.icon-rank1:before {
  content: "\e91d";
}
.icon-rank3:before {
  content: "\e91e";
}
.icon-rank2:before {
  content: "\e91f";
}
.icon-sge:before {
  content: "\e920";
}
.icon-rpr:before {
  content: "\e921";
}
.icon-rez:before {
  content: "\e989";
}
.icon-cog1:before {
  content: "\e994";
}
.icon-inf:before {
  content: "\ea0c";
}
