@font-face{ 
	font-family: 'bebaskai';
	src: url(bebaskai.woff);
}

@font-face{ 
	font-family: 'voltage';
	src: url(voltage.woff);
}

@font-face{ 
	font-family: 'oswald-light';
	src: url(oswald-light.woff);
}

@font-face{ 
	font-family: 'oswald';
	src: url(oswald.woff);
}

@font-face{ 
	font-family: 'boycott';
	src: url(boycott.woff);
}

@font-face{ 
	font-family: 'regen';
	src: url(regen.woff);
}

canvas{
	margin: 0 auto;
}

body, html {
	margin: 0;
	overflow: hidden;
	background: transparent;
	-webkit-user-select: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-shadow: -1px 0 1px #333, 0 1px 1px #333, 1px 0 1px #333, 0 -1px 1px #333;
}

#menu {
	background-color: rgba(0,0,0,.3);
	position: absolute;
	left: 0;
	width: 24px;
	height: 50px;
}

#dropdown {
	position: absolute;
	visibility: hidden;
	display: inline-block;
	left: 0;
	margin-top: -41px;
	background-color: #444;
	border: 2px solid #999;	
	z-index: 100;
}

#dropdown a {
	display: block;
	font-family: "oswald";
	font-size: 15px;
	padding: 5px;
	color: #fff;
	letter-spacing: 0.7px;
	white-space: nowrap;
	text-decoration: none;
	text-shadow: none;
}

#dropdown a:hover {
	background-color: #777;
}

.show-dropdown {
	visibility: visible !important;
}

#tooltip {
	position: absolute;
	left: 50%;
	top: 2.5px;
	visibility: hidden;
	width: 250px;
	height: 45px;
	margin-left: -125px;
	border-radius: 7px;
	z-index: 1;
}

.tt-icon {
	position: absolute;
	height: 45px;
	width: 250px;
	color: white;
	opacity: 0.6;
	font-family: "parseicons";
	font-size: 45px;
	text-shadow: none;
	text-align: center;
}

.tt-name {
	position: absolute;
	font-family: "bebaskai";
	font-size: 17px;
}

.tt-stat {
	position: absolute;
	font-family: "oswald";
	font-size: 12px;
}

#more {
	text-align: center;
	margin-top: -13px;
	margin-left: 0px;
	font-family: "bebaskai";
	font-size: 65px;
	line-height: 13px;
	color: white;
}

#graph-html {
	position: absolute;
	width: calc(100% - 26px);
	right: 0;
	height: 50px;
	font-family: "oswald";
	letter-spacing: 0.2px;
	font-size: 12px;
	color: white;
}

#graph-cont {
	background-color: rgba(0,0,0,.3);
	position: absolute;
	width: calc(100% - 26px);
	right: 0;
	height: 50px;
}

#header {
	position: absolute;
	width: 100%;
	height: 50px;
}

#information {
	background-color: rgba(0,0,0,.3);
	position: absolute;
	height: 15px;
	width: 100%;
	font-family: "oswald";
	font-size: 10px;
	line-height: 14px;
	color: white;
}

.span-absolute {
	position: absolute;
}

#main {
	position: absolute;
	display: table-cell;
	vertical-align: bottom;
	height: 100%;
	width: 100%;
}

#updates-html {
	position: absolute;
	background-color: rgba(0, 0 ,0 , .3);
	font-family: "oswald-light";
	font-size: 13px;
	padding: 5px;
	height: calc(100% - 250px);
	color: white;
	overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #333; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}

.playerdiv {
	position: absolute;
	color: white;
}

.player-name {
	position: absolute;
	top: -2;
	left: 25%;
	text-align: left;
	font-family: "bebaskai";
	font-size: 17px;
}

.player-name-24 {
	position: absolute;
	width: 100%;
	top: -2;
	left: 0;
	text-align: center;
	font-family: "bebaskai";
	letter-spacing: 1px;
	font-size: 17px;
}

.player-dps-base {
	position: relative;
	width: 25%;
	left: 5;
	top: 1;
	font-family: "voltage";
	text-align: right;
	font-size: 28px;
	overflow: hidden;
}

.player-dps-base-24 {
	position: absolute;
	width: 100%;
	left: 0;
	top: 13;
	font-family: "oswald";
	text-align: center;
	font-size: 12px;
	overflow: hidden;
}

.player-dps-dec {
	position: relative;
	right: -5;
	top: 1;
	font-family: "voltage";
	font-size: 20px;
}

.player-stat {
	position: absolute;
	font-family: "oswald";
	letter-spacing: 0.2px;
	line-height: 13px;
	font-size: 11px;
}

.player-dps-bar {
	position: absolute;
	bottom: 0;
	background:  rgba(255,255,255,.5);
	height: 2px;
}

.player-effect-cont {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.player-class-img {
	position: absolute;
	transform: rotate(10deg);
	right: 30%;
	top: -5;
	width: 45px;
	height: 45px;
	opacity: .6;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.player-class-icon {
	position: absolute;
	transform: rotate(10deg);
	right: 30%;
	top: -5;
	width: 45px;
	height: 45px;
	opacity: 0.6;
	font-family: "parseicons";
	font-size: 45px;
	color: white;
	text-shadow: none;
}

.player-side-popup {
	position: absolute;
	text-align: center;
	font-family: "boycott";
	font-size: 15px;
	white-space: nowrap;
}

.bloodsplat {
	width: 30px;
	height: 30px;
	box-shadow: 0px 100px 15px 0px #f00;
	position: absolute;
	opacity: 0.5;
	top: -100px;
}

.critline {
	position: absolute;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	background-color: #fff;
}

/* Slim */
.player-dps-slim {
	position: absolute;
	bottom: 3px;
	font-family: "voltage";
	line-height: 13px;
	font-size: 20px;
}

.player-name-slim {
	position: absolute;
	bottom: 0px;
	text-align: left;
	font-family: "bebaskai";
	font-size: 15px;
}

.player-icon-slim {
	position: absolute;
	right: 3;
	bottom: 1;
}

.bloodsplat-slim {
	width: 20px;
	height: 20px;
	box-shadow: 0px 100px 15px 0px #f00;
	position: absolute;
	opacity: 0.5;
	top: -100px;
}

.player-side-popup-slim {
	position: absolute;
	text-align: center;
	font-family: "bebaskai";
	font-size: 15px;
	line-height: 15px;
	white-space: nowrap;
}

.player-dps-slim-24 {
	position: absolute;
	left: 1px;
	letter-spacing: 0.2px;
	font-size: 16px;
	overflow: hidden;
}

.player-icon-slim-24 {
	right: 1px;
	opacity: 0.6;
}

.player-name-slim-24 {
	left: 0 !important;
	width: 100%;
	height: 100%;
}

/* Result Screen */
#result-cont {
	position: absolute;
	width: 400px;
	height: 400px;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	z-index: 1000;
}

#result-s-block {
	position: absolute;
	width: 400px;
	height: 400px;
	border-radius: 20px;
	background-color: rgba(100,100,200,0.8);
}

#result-screen-cont {
	position: absolute;
	width: 400px;
	height: 400px;
}

.result-block {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: rgba(100,100,200,0.8);
}

.result-ec-title {
	position: absolute;
	font-family: "regen";
	opacity: 0;
	font-size: 36px;
	color: white;
	z-index: 1500;
}

.result-title {
	position: absolute;
	right: 50%;
	transform: translate(50%);
	font-family: "regen";
	font-size: 25px;
	color: white;
	top: 10;
	white-space: nowrap;
	opacity: 0;
}

.result-player-cont {
	position: absolute;
	width: 250px;
	height: 150px;
	white-space: nowrap;
	opacity: 0;
}

.result-player-cont-sm {
	position: absolute;
	white-space: nowrap;
	bottom: 20;
	right: 50%;
	transform: translate(50%);
	width: 300px;
	opacity: 0;
}

.result-player-icon-sm {
	position: absolute;
	top: -1;
	right: 0;
	font-size: 22px;
	color: rgba(255, 255, 255, 0.4);
	text-align: center;
	text-shadow: none;
}

.result-player-rank-sm {
	position: absolute;
	font-family: "voltage";
	left: 1;
	font-size: 20px;
	color: white;
}

.result-player-name-sm {
	position: absolute;
	font-family: "bebaskai";
	left: 25;
	font-size: 18px;
	color: white;
}

.result-player-num-sm {
	position: absolute;
	font-family: "voltage";
	top: 1;
	right: 30;
	font-size: 20px;
	color: white;
}

.result-player-icon {
	position: absolute;
	right: 50%;
	transform: translate(50%);
	font-size: 150px;
	color: white;
	text-align: center;
	text-shadow: none;
}

.result-center-cont {
	position: absolute;
	right: 50%;
	transform: translate(50%);
	text-align: center;
}

.result-player-name {
	font-family: "bebaskai";
	font-size: 25px;
	color: white;
}

.result-namejob-hr {
	 margin: 0 auto;
	width: 90%;
	height: 2px;
	margin-top: -2px;
	margin-bottom: -1px;
	background: white;
	border: 1px solid;
	border-color: #333;
}

.result-player-job {
	font-family: "oswald-light";
	font-size: 14px;
	color: white;
}

.result-player-num {
	position: absolute;
	font-family: "voltage";
	bottom: 20%;
	font-size: 40px;
	color: white;
	right: 50%;
	transform: translate(50%);
}

.result-player-num2 {
	position: absolute;
	font-family: "voltage";
	bottom: 10%;
	font-size: 21px;
	color: white;
	right: 50%;
	transform: translate(50%);
}

/* Extra */
#toasty {
	position: absolute;
	bottom: 0;
	width: 200px;
	height: 196px;
	z-index: 100;
	background-image: url(../images/toasty.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.resizeHandle {
	background-image: url(../images/handle.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	box-sizing: border-box;
}